
.cabecalho {
    background-color: var(--back-escuro);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 7rem;
}

.cabecalho__lista-navegacao {
    display: flex;
}

.cabecalho__link {
    margin-left: 1rem;
    font-size: 0.8rem;
}


@media screen and (min-width:768px) {
    .cabecalho__logo {
        width: 10rem;
    }

    .cabecalho__link {
        margin-left: 2rem;
    }
}